/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: white;
    background-image:linear-gradient(red,white,red,black);
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 5%;
    
}
.header text{
    width: 90;

}

/* Navbar styling */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #141414;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: red;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    
     
    
}
.nav-links:hover{
    background-color: #0056b3;
    
}


.profile img {
    width: 60px;
    border-radius: 60%;
}

/* Hero section styling */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(./hijack93storyart_na_01_zxx-scaled.webp50.webp);

    background-size: cover;
    background-position: center;
    height: 80vh;
    color: white;
    padding: 20px;
    border-radius: 40%;

}

.hero-content h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cta-button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Content sections styling */
.content-section {
    padding: 20px;
}

.content-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    color: red;

}

.content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.content-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.content-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.content-item:hover {
    transform: scale(1.05);
}

.content-item:hover img {
    transform: scale(1.1);
}


/* Footer */
footer {
    background-color: #141414;
    padding: 5rem 0;
    text-align: center;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    text-align: left;
}

footer p {
    margin-top: 1rem;
    
}

button {
    width: 20%;
    padding: 0.75rem;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  